.gradle/
.kotlin/
**/build/**
**/out/**
/*/bin/
/*/test-tmp/
.gradletasknamecache
**/test-tmp/**
*.swp
report-generator/test-coverage-*.xml
**/maven-wrapper.jar
**/logTest/**
**/jacoco.exec
**/target/**
