# Store coverage only for CQSE packages in tmp subdirectory
out=/tmp/output
includes=*eu.cqse.*
class-dir=/usr/local/sample-web-app/lib/sample-web-app.jar

# Testwise coverage mode with long-running system under test
mode=testwise
http-server-port=8123
coverage-via-http=true

# debug-logging to tmp
logging-config=/usr/local/agent/docker-logging.xml
