# Store coverage only for CQSE packages in tmp subdirectory
includes=*eu.cqse.*
out=/tmp
#class-dir=tmp/sample-web-app/lib/sample-web-app.jar

# Testwise coverage mode with long-running system under test
#mode=testwise
#http-server-port=8123
#coverage-via-http=true

# debug-logging to tmp
logging-config=/usr/local/agent/logging-config.xml
