[Unit]
Description=Teamscale JaCoCo Client - fetches coverage from JaCoCo via a TCP port
After=network.target

[Service]
Type=simple
# TODO adjust user
User=ubuntu
# TODO adjust path to JaCoCo client and java and add command line arguments
ExecStart=/usr/bin/java -jar /path/to/eu.cqse.teamscale.jacoco.client-X.X.X-jacoco-Y.Y.Y.zip
# TODO set the path where logs and other runtime files will be placed
WorkingDirectory=/some/path
Restart=always

[Install]
WantedBy=multi-user.target

