# ignore all .idea files except  ...
*

# this file
!.gitignore

# Version Control configuration
!vcs.xml

# how IDEA should treat the text files
!encodings.xml

# automatic code formatting
!codeStyles

# project specific words
!dictionaries

!copyrights
!misc.xml
!sqldialects.xml

# Inspection settings
!inspectionProfiles/
